*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
:root{
    --Blue: hsl(223, 87%, 63%);
    --PaleBlue: hsl(223, 100%, 88%);
    --LightRed: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --VeryDarkBlue: hsl(209, 33%, 12%);
}

html{
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    padding: 40px 0 30px;
}
.subscribe{
    text-align: center;
}

.subscribe h1{
    font-size: 4.2rem;
    font-weight: 300;
    color: var(--Gray);
}
 #soon{
    font-weight: 700;
    color: var(--VeryDarkBlue);
    font-size: 4.3rem;
}
.subscribe p{
    font-size: 1.6rem;
    margin: 13px  0 20px;
}

.notify{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.notify .email {
    margin-right: 20px;

}
.notify .email input{
    width: 360px;
    height: 45px;
    padding: 20px;
    border-radius: 2rem;
    font-size: 1.5rem;
    border-width: 1.8px;
    color: var(--Gray);
    border: 1.8px solid var(--Gray);
    border-color: var(--Gray);
}

::placeholder{
    color: var(--Gray);
}
#message{
    position: relative;
    right: 50px;
    margin-top: 3px;
    font-size: 1.1rem;
    
}
.notify .button .btn{
    width: 140px;
    height: 45px;
    border-radius: 2.1rem;
    border:none;
    background: var(--Blue);
    color: #fff;
}

.notify .button .btn:hover{
    cursor: pointer;
    box-shadow: 2px 0 13px var(--PaleBlue);
}


.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.dashboard img{
    width: 580px;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fa-brands{
    border: 1px solid white;
    border-radius: 100%;
    box-shadow: 0 0 2px;
    background-color: #fff;
    font-size: 1.7rem;
    padding: 0.4rem;
    margin: 0.5rem;
    color: var(--Blue);
}

.fa-brands:hover{
    cursor: pointer;
    background-color: #3963ac;
    color: #fff;
    
}
.copyright p{
    color: var(--Gray);
    font-size: 1.2rem;
    margin-top: 6px;
}



@media screen and (max-width: 700px){
    .notify{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .notify .button .btn{
        margin-top: 15px;
        width: 350px;
    }
    .notify .email input{
        width: 350px;
    }
    #message{
        position: static;
        text-align: center;
    }
   

}

@media screen and (max-width: 590px){
    .dashboard img{
        width: 430px;

    }
    .notify .email input{
        width: 340px;
    }
    .notify .button .btn{
        width: 340px;
    }

}

@media screen and (max-width: 410px){
    .dashboard img{
        width: 350px;
    }
    .notify .email input{
        width: 300px;
    }
    .notify .button .btn{
        width: 300px;
    }
    .subscribe h1{
        font-size: 2.7rem;
    }

}
